:root {
  --color-accent: oklch(72.13% 0.1371 264.57);
  --color-accent-light: oklch(from var(--color-accent) 95% 5% h);
  --color-accent-dark: oklch(from var(--color-accent) 50% 10% h);
}

html {
  accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);  
  }

h1 {
    font-size: 400%; 
    margin-bottom: 0.5em;
  }

nav{
    display: flex;
    margin-bottom: 1em; 
    border-bottom: 1px solid oklch(80% 3% 200);
    justify-content: space-around;
    align-items: center;
  }

nav a {
    flex:1;
    text-decoration: none; 
    color: inherit; 
    text-align: center; 
    padding: 0.5em;
    display: inline-block;
    width: 100%;
    transition: border-color 0.3s ease;
  }

nav a.current {
    flex:1;
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: calc(0.5em - 0.4em);
  }

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: var(--color-accent-light);
  }

nav ul, nav ul li {
    display: contents;
  }  


form {
    display: grid; 
    grid-template-columns: auto 1fr; 
    gap: 1em; 
    max-width: 600px; 
    margin: 0 auto; 
    padding: 1em;
  }

form label {
  display: grid; 
  grid-template-columns: subgrid; 
  grid-column: 1 / -1; 
  gap: 0.5em; 
}

form input, form textarea, form button {
    grid-column: 2; 
    width: 100%; 
    box-sizing: border-box; 
    padding: 0.5em; 
    font: inherit; 
  }

.projects {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr)); 
    gap: 1em;
  }

.projects article {
    display: grid; 
    grid-template-rows: subgrid; 
    grid-row: span 3; 
    gap: 1em;
  }

.cv-resume header h1 {
  font-size: 3em;
  text-align: center;
}

.cv-resume section header h2 {
  font-size: 2em;
  margin-top: 2em;
  margin-bottom: 0.5em;
  border-bottom: 2px solid var(--color-accent-dark);
}
