:root {
  --color-accent: oklch(72.13% 0.1371 264.57);
  --color-accent-light: oklch(from var(--color-accent) 95% 5% h);
}

html {
  accent-color: var(--color-accent);
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: max(1em, (100% - 100ch) / 2);  
  }

nav{
    display: flex;
    margin-bottom: 1em; 
    border-bottom: 1px solid oklch(80% 3% 200);
    justify-content: space-around;
    align-items: center;
  }

nav a {
    flex:1;
    text-decoration: none; 
    color: inherit; 
    text-align: center; 
    padding: 0.5em;
    display: inline-block;
    width: 100%;
    transition: border-color 0.3s ease;
  }

nav a.current {
    flex:1;
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: calc(0.5em - 0.4em);
  }

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    background-color: var(--color-accent-light);
  }

nav ul, nav ul li {
    display: contents;
  }  

input, textarea, button {
    font: inherit; 
    color: inherit;
  }